<div class="container pull-left">
    <div class="row-fluid">
        <div class="span2">
            <form><input id="searchInput" type="text" placeholder="Search Keywords" class="search-query"></form>
        </div>
        <div class="span10">
            <span id="recordCounts" class="badge badge-info hidden pull-right"></span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div id="keywordsContainer" class="keywords_plus">
                <div id="keyword_page_results">
                    <div class="no_results_message" style="display: none;">No Results Found</div>
                </div>
            </div>
            <div id="progress" class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
        <div class="span3"><input id="startDatePicker" type="text" value="4/01/2012" class="datepicker"><input
                id="endDatePicker" type="text" value="1/16/2013" class="datepicker">

            <div id="facetResults" class="321f32a2-6634-4e7a-bd6e-dd4085bb11d1"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
</div>